@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

DECONCEPT

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #000;
$tertiary_color: #0071b7;
$background: #ededed;
$border: #c7c7c7;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.line {
		border-bottom: 1px solid $border;
	}
	.moduletable_to2 {
		padding: 5px 0;
		font-size: 12px;
		color: $secondary_color;
	}
	.moduletable_to3 {
		padding: 5px 0;
		font-size: 12px;
		a {
			margin: 0 5px;
			display: inline-block;
		}
	}
	.moduletable_to4 {
		margin: 20px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 4px;
						background: {
							image: url(moduletable_to4_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $tertiary_color;
								color: #fff;
							}
						}
						a {
							padding: 2px 14px;
							font-size: 12px;
							color: $secondary_color;
							text-transform: uppercase;
							&:hover {
								background-color: $tertiary_color;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

/* Menu Products */

.menu_products {
	margin-bottom: 10px;
	.row {
		border: {
			top: 1px solid $primary_color;
			bottom: 1px solid $primary_color;
		}
		.moduletable_ma1 {
			ul.menu {
				li {
					padding: 0 4px;
					background: {
						image: url(moduletable_ma1_menu_li_bg.png);
						position: right;
						repeat: no-repeat;
					}
					&:last-child {
						background: none;
					}
					&.current-menu-parent,
					&.current-menu-item,
					&.current_page_parent {
						a {
							background-color: $primary_color;
							color: #fff;
						}
					}
					a {
						font-size: 12px;
						color: $primary_color;
						text-transform: uppercase;
						&:hover {
							background-color: $primary_color;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.caption-wrap {
			max-width: 400px;
			padding: 10px;
			left: 36%;
			bottom: 40%;
			background-color: rgba(0, 0, 0, 0.7);
			border: 1px solid #fff;
			opacity: 1;
			.caption {
				h3 {
					margin-bottom: 0;
					font: {
						size: 20px;
						weight: bold;
					}
					text-align: center;
				}
			}
		}
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font: {
			size: 18px;
			weight: bold;
		}
	}
	h2 {
		font: {
			size: 18px;
			weight: bold;
		}
		color: $tertiary_color;
	}
	a {
		&.button.primary {
			background-color: $tertiary_color;
			color: #fff;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			color: #fff;
		}
	}
	#box_1 {
		p:nth-child(1) {
			margin: 0;
			a {
				padding: 30px 0 20px 0;
				font-size: 60px;
				color: #fff;
				text-align: center;
				display: block;
			}
		}
		p:nth-child(2) {
			margin: 0;
			a {
				padding: 10px;
				padding-top: 0;
				font-size: 24px;
				color: #fff;
				text: {
					align: right;
					transform: uppercase;
				}
				display: block;
			}
		}
	}
	#box_2 {
		p:nth-child(1) {
			margin: 0;
			a {
				padding: 150px 0 130px 0;
				font: {
					size: 30px;
					weight: bold;
				}
				color: #fff;
				text-shadow: 1px 1px 1px #000;
				display: block;
			}
		}
		p:nth-child(2) {
			margin: 0;
			a {
				margin-bottom: 50px;
				padding: 10px 15px;
				border: {
					color: #fff;
					radius: 0;
				}
				font-size: 22px;
				color: #fff;
				text-shadow: 1px 1px 1px #000;
			}
		}
		&.wide {
			p:nth-child(1) {
				a {
					padding: 40px 0 20px 0;
				}
			}
			p:nth-child(2) {
				a {
					margin-bottom: 30px;
				}
			}
		}
	}
	.search_widget {
		.moduletable_sw1 {
			h3 {
				margin-bottom: 10px;
				padding: 10px 0;
				border: {
					top: 1px solid $secondary_color;
					bottom: 1px solid $secondary_color;
				}
				font: {
					size: 18px;
					weight: bold;
				}
				color: $secondary_color;
				text: {
					align: center;
					transform: uppercase;
				}
			}
			.woof {
				.woof_redraw_zone {
					display: flex;
					flex-direction: column;
					.woof_container {
						h4 {
							margin-bottom: 10px;
							border-bottom: 1px solid $secondary_color;
							font: {
								size: 16px;
								weight: bold;
							}
							color: $secondary_color;
							text-transform: uppercase;
						}
					}
					.woof_submit_search_form_container {
						text-align: center;
						button {
							margin: 0;
							padding: 10px;
							background-color: $tertiary_color;
							border-radius: 0;
							float: none !important;
							font-size: 0;
							&:after {
								content: 'Filtrar';
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				padding: 10px;
				border: 1px solid $border;
				a {
					display: block;
					h2.woocommerce-loop-product__title {
						padding: 5px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
					span.price {
						display: none;
					}
					&.product_type_simple,
					&.product_type_variable {
						display: none;
					}
				}
			}
		}
		h1 {
			&.product_title {
				color: $tertiary_color;
			}
		}
		h2 {
			&.attributes {
				padding: 10px 0;
				border: {
					top: 1px solid $border;
					bottom: 1px solid $border;
				}
				font: {
					size: 18px;
					weight: bold;
				}
				color: $primary_color;
			}
		}
		a {
			&.add-request-quote-button {
				background-color: $secondary_color;
				color: #fff;
			}
			&.checkout-button.button.alt.wc-forward {
				background-color: $tertiary_color;
				color: #fff;
			}
		}
		input {
			&.button.alt {
				background-color: $tertiary_color;
				color: #fff;
			}
		}
		table {
			&.variations {
				margin-bottom: 10px;
				tbody {
					border: 0;
					tr {
						td {
							&.label {
								padding: 10px;
								background: transparent;
							}
							&.value {
								padding: 10px;
								.tawcvs-swatches {
									padding: 0;
									.swatch {
										width: 100px;
										height: 100px;
										margin-right: 10px;
										border-radius: 0;
										font-size: 0;
									}
								}
							}
						}
					}
				}
			}
			&.shop_attributes {
				border: 0;
				tbody {
					border: 0;
					tr {
						background-color: #fff;
						th,
						td {
							background-color: #fff;
							border: 0;
						}
						th {
							width: 200px;
							text-align: left;
						}
					}
				}
			}
		}
		.price {
			margin-bottom: 10px;
			padding: 20px 0;
			font: {
				size: 20px;
				weight: bold;
			}
			color: $tertiary_color;
		}
		.data_sheet {
			margin-bottom: 10px;
			padding: 20px 0;
			border-top: 1px solid $border;
		}
		.buy {
			margin-bottom: 10px;
			padding: 20px 0;
			border-top: 1px solid $border;
			table {
				&.variations {
					td {
						&.value {
							select {
								margin: 0;
							}
						}
					}
				}
			}
			.single_variation_wrap {
				.woocommerce-variation-price {
					.price {
						font: {
							size: 20px;
							weight: bold;
						}
						color: $tertiary_color;
					}
				}
				.woocommerce-variation-add-to-cart {
					button {
						&.button {
							padding: 15px 20px;
							background-color: $tertiary_color;
						}
					}
				}
			}
		}
		.quote {
			margin-bottom: 10px;
			padding: 20px 0;
			border-top: 1px solid $border;
			a {
				&.button {
					padding: 15px 20px;
					background-color: $tertiary_color;
				}
			}
		}
		.attributes_colors {
			table {
				&.variations {
					td {
						&.label {
							display: none;
						}
					}
				}
			}
			.single_variation_wrap {
				display: none !important;
			}
		}
	}
}

/* Block 1 */

.block_1 {
	.moduletable_b11 {
		#a {
			padding: 18px 30px;
			background: {
				image: url(block_11_a_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			.textwidget {
				border: 1.6px solid #fff;
				h3 {
					margin: 0;
					padding: 40px 0 15px 0;
					font-size: 22px;
					color: #fff;
					text-transform: uppercase;
				}
				p {
					margin: 0;
					a.button {
						margin-bottom: 10px;
						padding: 5px 10px;
						background-color: #fff;
						font-size: 22px;
						color: $secondary_color;
					}
				}
			}
		}
		#b {
			background: {
				image: url(block_11_b_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			.textwidget {
				p {
					margin: 0;
					a.button {
						margin: 0;
						margin-top: 110px;
						padding: 15px 80px 15px 15px;
						background: {
							color: rgba(0, 0, 0, 0.7);
							image: url(block_11_button_bg.png);
							position: right 20px center;
							repeat: no-repeat;
						}
						-webkit-border-radius: 10px 0 0 0;
						border-radius: 10px 0 0 0;
						font: {
							size: 26px;
							weight: normal;
						}
						span {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	.moduletable_b21 {
		h3 {
			margin: 30px 0;
			background: {
				image: url(block_21_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 20px;
				weight: bold;
			}
			text-transform: uppercase;
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		h3 {
			margin: 30px 0;
			background: {
				image: url(block_31_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 20px;
				weight: bold;
			}
			text-transform: uppercase;
		}
		#a {
			.textwidget {
				height: 400px;
				position: relative;
				p {
					margin: 0;
					/*right: 40px;*/
					/*bottom: 0;*/
					/*position: absolute;*/
					a {
						padding: 260px 40px 10px 330px;
						font: {
							size: 82px;
							weight: bold;
						}
						color: #fff;
						text-transform: uppercase;
						display: inline-block;
					}
				}
			}
		}
		#b,
		#c {
			.textwidget {
				height: 185px;
				position: relative;
				p {
					margin: 0;
					/*left: 20px;*/
					/*bottom: 20px;*/
					/*position: absolute;*/
					a {
						padding: 100px 165px 20px 20px;
						font: {
							size: 32px;
							weight: bold;
						}
						color: #fff;
						line-height: 32px;
						text-transform: uppercase;
						display: inline-block;
					}
				}
			}
		}
		#c {
			.textwidget {
				p {
					a {
						padding: 130px 260px 20px 20px;
					}
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		h3 {
			margin: 30px 0;
			background: {
				image: url(block_41_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 20px;
				weight: bold;
			}
			text-transform: uppercase;
		}
		#products_slider {
			.sa_hover_container {
				p {
					margin: 0;
					/*right: 20px;*/
					/*bottom: 10px;*/
					text-align: right;
					/*position: absolute;*/
					a {
						padding-top: 100px;
						font-size: 24px;
						color: #fff;
						text: {
							shadow: 1px 1px 1px #000;
							transform: uppercase;
						}
						display: block;
					}
				}
			}
		}
	}
}

/* Newsletter */

.newsletter {
	padding: 30px 0;
	background-color: $background;
	.moduletable_n1 {
		h2 {
			width: 50%;
			margin: 0;
			font-size: 18px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding-top: 30px;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		h3 {
			font-size: 14px;
			text-transform: uppercase;
		}
		a {
			color: #fff;
		}
		#a,
		#b {
			background: {
				image: url(moduletable_bo1_block_bg.png);
				position: right;
				repeat: no-repeat;
			}
		}
		#d {
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 20px 0 30px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}